@{
    ViewData["Title"] = "All Books";
}
@using BookStore_App.Models;
@model IEnumerable<BookModel>





<div class="container">
    <h2 class="display-4">All Books</h2>
    <div class="row">
        @foreach (var book in Model)
        {
            <div class="col-md-4">
                <div class="card md-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@book.Title</h5>
                            <p class="card-text">@book.Description</p>
                            <p class="card-text">@book.languageName</p>
                            <a href="/book/getbook/@book.Id" class="btn btn-primary">Details</a> <small class="text-muted">@book.Author</small>

                        </div>

                </div>
            </div>
        }
    </div>
</div>

